* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header-container { grid-area: header; }
.side-menu { grid-area: menu; }
.content { grid-area: main; }
.aside-container { grid-area: right; }
.card-resumo { grid-area: resumo; }
.card-discussoes { grid-area: discussoes; }
footer { grid-area: footer; }

.principal-container {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  /* grid-template-rows: 50% 40%; */
  grid-template-areas: 
  'menu header header . .' 
  'menu main right right right' 
  'menu resumo resumo resumo resumo'
  'menu discussoes discussoes discussoes discussoes'
  'menu footer footer footer footer';
}
/* 
.principal-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}  */

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;  
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  height: 68px;
  top: 0px;
  color: #725C5C;
  background: #FDF1EB;
}

.header-container__titles h2 {
  font-size: 1.3rem;
}

.header-container__titles p {
  font-size: 0.8rem;
}

.header-container__menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: right;
  color: #333333;
}

.header-container__login {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0.8rem;
}

.header-container__welcome {
  font-size: 14px;
}

.header-container__email {
  font-size: 12px;
}

.header-container__img-circle {
  width: 48px;
  height: 30px;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #333333;
} 

.header-container__img {
  width: 100%;
}

.header-container__notification__badge { 
  position: absolute;
  top: 12px;
  right: 16px;

  width: 12px;
  height: 12px;
  background: #F85959;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container__notification__badge span { 
  position: absolute;
  width: 6px;
  height: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.side-menu {
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.side-menu header h1 {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  padding: 20px 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 68px;
  text-align: center;
  font-size: 1.5rem;
}

.side-menu__img-logo img {
  width: 100%;
}

.side-menu__bar {
  padding: 20px 0;
}

.side-menu__item {
  font-size: 1rem;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 20px 20px 10px 20px;
}

.side-menu__item--active, 
.side-menu__item:hover {
  background-color: #FDF1EB;
  border-width: 0 0 0 6px;
  border-style: solid;
  border-image:     
    linear-gradient(
      to bottom, 
      #FFB455 0%, 
      #ED7839 100%
    ) 1 100%;
}

.content {
  width: 90%;
  padding: 20px;
}

.content__header h1 {
  margin-bottom: 10px;

  color: #ED7839;
}

.content__header__video {
  width: 80%; 
  margin: 10px 50px;
  cursor: pointer;
}

.aside-container {
  position: relative;
  right: 25%;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.botoes-container {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.botoes-container__laranja {
  text-align: center;
  color: #FFFFFF;
  background: #ED7839;
  border: 0;
  border-radius: 5px;
  padding: 0.4rem 0.9rem;
  gap: 0.6rem;
  cursor: pointer;

  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.aside-container__subtexto {
  color: #ED7839;
  font-size: 1.3rem;
  margin: 10px 0;
  font-weight: 100;
}

.card {
  width: 40vw;
  border: 1px solid #ECECEC;
}

.card__header {
  color: #4E4E4E;
  background: #FDF1EB;
  padding: 10px;
}

.card__body {
  height: 310px;
  min-height: 200px;
  padding: 10px;
  overflow-y: scroll;
}

.card__informacoes,
.card__autores {
  color: #4E4E4E;
  margin-bottom: 30px;
  font-size: 1rem;
}

.card__informacoes--universidade {
  font-size: 0.8rem;
  font-weight: 100;
  color: #a89e99;
}


#mais {
  display: none;
}

.card-resumo {
  width: 81vw;
  margin: 20px 50px;
  border: 1px solid #ECECEC;
}

.card-resumo__header {
  background: #FDF1EB;
  padding: 15px;
  color: #4E4E4E;
}

.card-resumo__texto {
  padding: 20px;
  font-size: 1.1rem;
}

#meuBtn {
  cursor: pointer;
  color: #EE7A3A;
  font-size: 1.2rem;
  border: none;
  background: #33333300;
}

.card-discussoes {
  width: 81vw;
  margin: 20px 50px;
  border: 1px solid #ECECEC;
}

.card-discussoes__header {
  background: #FDF1EB;
  padding: 15px;
  color: #4E4E4E;
}

.card-discussoes__topico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  font-size: 1.1rem;
}

.card-discussoes__images {
  display: flex;
  gap: 2rem;
}

.card-discussoes__botao {
  gap: 0.6rem;
  z-index: 1;
} 

.linha {
  position: relative;
  top: 35px;
  width: 100%;
  border: 1px solid #E7E7E7;
}

#criar-topico {
  display: none;
}

.card__novo-topico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  position: relative;
}

.card__novo-topico__form p {
  text-align: center;
  font-size: 1.1rem;
  color: #5C5C5C;
}

.card__novo-topico__form {
  display:flex;
  flex-direction: column;
  gap: 0.6rem;
}

.card__novo-topico__form input {
  padding: 8px;
  width: 75vw;
}

.card__novo-topico__form label {
  color: #ED7839;
  font-size: 1rem;  
}

.card__novo-topico__form-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: 1x solid #a89e99;
}

.card__novo-topico__form textarea {
  padding: 5px;
  width: 75vw;
  height: 10vh;
  position: relative;
  top: 10px;
}

.card__novo-topico__form-box input {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: #EE7A3A;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  cursor: pointer;
  width: 15vw;
  height: 40px;
}

.card__novo-topico__container-botoes {
  width: 60vw;
  background-color: #EAF1F2;
}

.card__novo-topico__botoes {
  background-color: transparent;
  padding: 13px;
  border: 0;
  cursor: pointer;
}

.card__novo-topico__botoes:hover {
  background-color: #c4c4c4;
}

#discussoes-enviado {
  display: none;
}

.card-discussoes__enviado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 20px;
  font-size: 1.1rem;
}

.feedback-container {
  text-align: center;
}

.feedback-container img {
  padding: 1rem;
}

.feedback-container__link {
  color: #ED7839;
}

.card-topico-container {
  width: 50vw;
}

.card-topico {
  width: 69vw;
  padding: 15px 15px 5px;
  margin: 5px 50px;
  border: 1px solid #ECECEC;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.card-topico__header {
  margin-bottom: 15px;
}

.card-topico__header h2 {
  font-size: 1.2rem;
  color: #ED7839;
}

.card-topico__header span {
  font-size: 0.9rem;
  color: #5C5C5C;
}

.card-topico__body {
  font-size: 1.2rem;
  color: #5C5C5C;
}

.card-discussoes__topico p {
  text-align: center;
  font-size: 1.2rem;
  color: #4D4D4D;
}

.card-topico__imagens {
  display: flex;
  gap: 1rem;
  padding: 15px 0;
  color: #757575;
}

.botoes-container__laranja--sem-fundo {
  border: 0;
  background: #4d4d4d00;
  cursor: pointer;
}

footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  padding: 0 40px;
  width: 85vw;
}

footer p {
  padding: 10px 0;
  font-size: 1.2rem;
  color: #4D4D4D;
}

